.comment {
  list-style: none;
  display: grid;
  grid-row-gap: 11px;
}

.comment:not(:first-child) {
  margin-top: 20px;
}

.comment__text {
  word-break: break-all;
}

.counter {
  position: absolute;
  left: -11px;
  padding: 10px 0;
  background-color: var(--white);
}

.headComment {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.title {
  margin: 10px 0;
}

@media all and (min-width: 1024px) {
  .comment:not(:first-child) {
    margin-top: 40px;
  }
}