.textContent {
  display: flex;
  flex-flow: row wrap;
  padding: 22px 20px 13px;
}

.textContent > * {
  flex: 1 1 100%;
}

.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}

.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.userName {
  color: var(--orange);
  font-size: 10px;
  line-height: 12px;
}

.createAt, .areateAt * {
  color: var(--grey99);
}

.publishedLabel {
  display: none;
}

.title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
  padding: 7px 0 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title a:hover {
  color: var(--orange);
}

@media all and (min-width: 1024px){
  .textContent {
    order: 1;
    flex: 1 1;
    align-items: baseline;
  }

  .metaData {
    order: 1;
  }

  .userLink:hover a {
    text-decoration: underline;
  }

  .publishedLabel {
    display: unset;
  }

  .title {
    order: 0;
    -webkit-line-clamp: 1;
  }
}

@media all and (min-width: 1540px) {
  .textContent {
    flex-basis: 672px;
  }

  .userName {
    position: relative;
    z-index: 1;
  }
}