.comment {
    list-style: none;
    display: grid;
    grid-row-gap: 11px;
  }
  
  .comment:not(:first-child) {
    margin-top: 20px;
  }
  
  .comment__text {
    word-break: break-all;
  }
  
  .comment__counter {
    position: absolute;
    left: -11px;
    padding: 10px 0;
    background-color: var(--white);
  }
  
  .comment__head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 10px;
  }
  
  .comment__title {
    margin: 10px 0;
  }
  
  @media all and (min-width: 1024px) {
    .comment:not(:first-child) {
      margin-top: 40px;
    }

    .comment__head {
      justify-content: initial;
    }
  }