.menuList {
  padding: 0 20px;
}

.menuItem {
  padding: 10px 0;
  border-bottom: 1px solid rgb(237, 237, 237);
  display: flex;
}

.menuItem:hover {
  cursor: pointer;
}

.menuItem:hover > p {
  color: var(--orange);
}

.menuItem:hover > span > svg > path {
  fill: var(--orange);
}

.menuItem:last-child {
  border-bottom: none;
}

.controlsList {
  display: flex;
  column-gap: 15px;
}

.controlsItem {
  display: flex;
  cursor: pointer;
}

.controlsItem > p {
  display: none;
}

.controlsItem:hover > p {
  color: var(--orange);
}

.controlsItem:hover > span > svg > path {
  fill: var(--orange);
}

@media all and (min-width: 1024px) {
  .controlsItem > p {
    display: block;
  }
}