.carmaCounter {
  display: flex;
  align-items: center;
}

.carmaCounter__value {
  color: var(--greyC4);
}

svg.down {
  transform: rotate(180deg);
}

.karmaCounter > button.up__active > span > svg > path {
  fill: var(--green);
}

.karmaCounter > button.down__active > span > svg > path {
  fill: var(--orange);
}

@media all and (min-width: 1024px){
  .carmaCounter > button.up:hover > span > svg > path {
    fill: var(--green);
  }

  .carmaCounter > button.down:hover > span > svg > path {
    fill: var(--orange);
  }

  .carmaCounter__upBtn {
    display: flex;
  }

  .carmaCounter__downBtn {
    display: flex;
  }

  .carmaCounter__value {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }

  .carmaCounter {
    display: grid;
    align-content: center;
    justify-items: center;
    grid-row-gap: 7px;
  }

  .carmaCounter > * + * {
    padding: 0;
  }
}